#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  margin-top: 80px;
  border-bottom: #fff solid 10px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.lock {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.counter {
  position: absolute;
  border: 1px solid purple;
  float: right;
  right: 0;
  top: 0;
}